### Editor ###
.vscode/
.ionide/
.history/
.idea/

### Project ###
__pycache__/
.pytest_cache
*.pyc
log/
datasets/

### Model ###
*.npy
*.h5
*.pb
*.tflite
*.kmodel

### Temp
useless/
run_model.py
run_model_old.py
